<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="android.carpoolrider">
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".StartFromLogIn.LogInActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".StartFromLogIn.MakeAccountActivity"/>
        <activity android:name=".StartFromLogIn.ForgotPasswordActivity"/>
        <activity android:name=".BottomNavigationMainActivity"/>
        <activity android:name=".RequestRides.RequestRouteActivity"/>
        <activity android:name=".Settings.ProfileActivity"/>
        <activity android:name=".Settings.Password.CurrentPasswordActivity"/>
        <activity android:name=".Settings.Password.NewPasswordActivity"/>
        <activity android:name=".Settings.EmailActivity"/>
        <activity android:name=".Settings.PhoneActivity"/>
        <activity android:name=".StartFromLogIn.CreateAccount.CreateAccountEmail"/>
        <activity android:name=".StartFromLogIn.CreateAccount.CreateAccountName"/>
        <activity android:name=".StartFromLogIn.CreateAccount.CreateAccountPassword"/>
        <activity android:name=".StartFromLogIn.CreateAccount.CreateAccountPhoneNumber"/>
        <activity android:name=".RequestRides.RequestDateActivity"/>
        <activity android:name=".RequestRides.RequestConfirmActivity"/>
        <activity android:name=".RequestRides.RequestPassengerNumberActivity" />
        <activity android:name=".RequestRides.RequestTimeActivity"/>
        <activity android:name=".RidesAvailable.IndividualDriverRequestActivity"/>
        <activity android:name=".PendingRequests.AcceptRequestActivity"/>
        <activity android:name=".PendingRequests.IndividualAcceptDeclineRequestActivity"/>
        <activity android:name=".ConfirmedRides.IndividualConfirmedTicketRiderDriverActivity"/>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />


    </application>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
</manifest>