<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="android.carpoolrider">
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".StartFromLogIn.LogInActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".StartFromLogIn.MakeAccountActivity"/>
        <activity android:name=".StartFromLogIn.ForgotPasswordActivity"/>
        <activity android:name=".MainActivity"/>
        <activity android:name=".RequestRides.RequestNewRide.RequestRouteActivity"/>
        <activity android:name=".Settings.ProfileActivity"/>
        <activity android:name=".Settings.Password.SettingsCurrentPasswordActivity"/>
        <activity android:name=".Settings.Password.SettingsNewPasswordActivity"/>
        <activity android:name=".Settings.SettingsEmailActivity"/>
        <activity android:name=".CreateAccount.CreateAccountEmail"/>
        <activity android:name=".CreateAccount.CreateAccountName"/>
        <activity android:name=".CreateAccount.CreateAccountPassword"/>
        <activity android:name=".CreateAccount.CreateAccountPhoneNumber"/>
        <activity android:name=".RequestRides.RequestNewRide.RequestDateActivity"/>
        <activity android:name=".RequestRides.RequestNewRide.RequestConfirmActivity"/>
        <activity android:name=".RequestRides.RequestNewRide.RequestPassengerNumberActivity" />
        <activity android:name=".RequestRides.RequestNewRide.RequestTimeActivity"/>
    </application>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
</manifest>