<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="android.carpoolrider">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RequestRides.RequestNewRide.Later.RequestNewRideWhereLaterActivity"/>
        <activity android:name=".Profile.ProfileActivity"/>
        <activity android:name=".RequestRides.RequestNewRide.RequestNewRideActivity"/>
        <activity android:name=".RequestRides.RequestNewRide.Later.RequestNewRideWhenLaterActivity"/>
        <activity android:name=".RequestRides.RequestNewRide.Later.RequestNewRidePassengerNumberLaterActivity"/>
        <activity android:name=".RequestRides.RequestNewRide.Later.RequestNewRideFemaleOnlyLaterActivity"/>
        <activity android:name=".RequestRides.RequestNewRide.Later.RequestNewRideConfirmLaterActivity"/>
        <activity android:name=".Profile.EditProfileActivity"/>
    </application>

</manifest>